<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_load_after">
        <observer name="bootstrap_checkout_sales_quote_load_after" instance="Dragonfly\BootstrapCheckout\Observer\SalesQuoteLoadAfter" />
    </event>
</config>
